
#box3 {
    padding: 10px;
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    border: solid 1px green;
    width:100%;

}

#box4 {
    flex-grow: 10;
    border: solid 1px orange;
    width: 100%;
}

.middle-column {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

    .middle-column div {
        flex-grow: 10;
        margin: 0 8px;
        border: solid 1px red;
    }

        .middle-column div + div {
            margin-top: 8px
        }

#box8 {
    flex-grow: 1;
    border: solid 1px black
}
